/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Mate implementation : © <Matheus Gomes> <matheusgomesforwork@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mate.css
 *
 * Mate stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (mate_mate.tpl), and to HTML elements you create dynamically
    (in mate.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

/** Table layout **/

#mate_playertables {
  display: flex;
  position: relative;
  gap: 1rem;
  justify-content: center;
}

.mate_playertablename {
  font-weight: bold;
}

.mate_playertable {
  text-align: center;
  width: 100px;
  height: 110px;
}

.mate_playertablecard {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  width: 72px;
  height: 96px;
}

/*** cards on table ***/

.mate_cardontable {
  position: absolute;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.jpg");
}

#mate_history {
  margin-bottom: 8px;
  overflow-x: auto;
}

.mate_historycards {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(2, 105px);
  gap: 0.5rem;
}

.mate_cardonhistory {
  position: absolute;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.jpg");
  top: 2px !important;
  left: 2px !important;
}

.mate_historycard {
  position: relative;
  border-style: solid;
  border-width: 2px;
}

.mate_unselectable {
  opacity: 0.7 !important;
  cursor: default;
}
